<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true" />
  <arg name="move_forward_only" default="false" />
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]" />

  <node pkg="tf" type="static_transform_publisher" name="scan2base" args="0 0 0 0 0 0 base_footprint base_scan 100" />
  <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 map odom 100" />

  <include file="$(find simulation_interface)/launch/launch.launch" />

  <!-- <node pkg="joy" name="joy_node" type="joy_node">
		<param name="~dev_ff" value="/dev/input/event13" />
	</node> -->

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(find robot_mapping)/maps/simple-real.yaml" />

  <!-- Move base -->
  <node pkg="move_grid" name="move_grid" type="move_grid" output="screen" />
  <node pkg="move_grid" name="grid_decode" type="grid_decode" output="screen" />

  <!-- AMCL -->
  <!-- No need for real pos -->
  <!-- <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="1.0" />
    <arg name="initial_pose_y" value="1.0" />
  </include> -->

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find move_grid)/rviz/move.rviz" />
  </group>
</launch>